{% extends "flatpages/default.html" %}

{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>Все объявления</h1>
    {% comment %} <h3>{{ time_now|date:'d M Y' }}</h3> {% endcomment %}
    <form action="" method="get">
        {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
        {{ filterset.form.as_p }}
        {# Добавим кнопку отправки данных формы #}
        <input type="submit" value="Найти"/>
    </form>
    <hr>

    {% if perms.boad.add_post %}
        <a href="{% url 'post_create' %}">Добавить объявление</a>
    {% endif %}
    {% if posts %}
        <table cellpadding="10" width="95%" style="margin-top: 35px">
            <tr BORDER BGCOLOR=pink>
                <td><b>Категория</b></td>
                <td><b>Заголовок</b></td>
                <td><b>Объявление</b></td>
                <td><b>Автор</b></td>

                {% if perms.boad.change_post or perms.boad.delete_post %}
                    <td>Действия</td>
                {% endif %}    
            </tr>
            {% for post in posts %}
            <tr>
                <td>
                    {% for cat in post.category.all %}
                        {{ cat.name_category }}
                    {% endfor %}    
                </td>
                <td>{{ post.title }}</td>
                <td>{{ post.text }}</td>
                <td>{{ post.author }}</td>
                <td>
                {% if perms.boad.change_post %}
                    <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
                {% endif %}
                {% if perms.boad.delete_post %}
                    <a href="{% url 'post_delete' pk=post.id %}">Удалить</a>
                {% endif %}  
                </td>    
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Объявлений нет</h2>
    {% endif %}    
    {# Добавляем пагинацию на страницу #}
     {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
     {% endif %}
    {# Информация о текущей странице #}
     {{ page_obj.number }}

    {# Информация о следующих страницах #}
     {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
     {% endif %}
{% endblock content %}